.menu-wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 2.3rem;
  right: 0;
  padding: 1rem 0;
  z-index: 4;
  margin-right: calc(var(--main-container-padding) + 4rem);
}
.menu-wrapper ul {
  display: flex;
  margin: 0;
  align-self: center;
}

.menu-wrapper ul li {
  display: flex;
  margin: 0 1rem;
  height: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.menu-wrapper ul li .icon {
  transform: translateY(-1px);
  margin-left: 3px;
  width: 18px;
  height: 18px;
  stroke-width: 2.6px;
}

.menu-wrapper ul li {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .menu-wrapper ul {
    display: none;
  }
}
