.secondery-menu {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 3rem;
  padding-top: 0.8rem;
}

.secondery-menu li {
  padding: 0.3rem 0;
}

.secondery-menu a {
  color: var(--white);
  text-decoration: none;
}
