.date-of-conference-wrapper {
  display: flex;
}

.date-of-conference-wrapper .box {
  background-color: rgba(var(--primary-with-opacity), 0.2);
  text-align: center;
  padding: 1.3rem 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  white-space: nowrap;
}

.date-of-conference-wrapper .box.location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  span {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -19px;
    background-color: seashell;
    transform: scale(0.7);
    padding: 0.4rem 0.8rem;
    font-weight: 700;
    i svg {
      stroke-width: 3;
    }
  }
}

.date-of-conference-wrapper h3 {
  margin: 0;
  font-size: min(6.55vw, 2.6rem);
  line-height: auto;
}

.date-of-conference-wrapper p {
  font-size: min(3.5vw, 1.2rem);
  margin: 0;
}

@media (max-width: 540px) {
  .date-of-conference-wrapper .box {
    padding: 1rem 1.7rem;
    width: 100%;
  }
  .date-of-conference-wrapper h3 {
    font-size: min(5.55vw, 2.2rem);
  }
  .date-of-conference-wrapper .box.location {
    margin-right: 0;
  }
}
