.Loading {
  background-color: var(--primary);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    color: var(--white);
    font-weight: 400;
    font-stretch: 100%;
    font-variation-settings: 'ital' 10, 'wdth' 130;
    letter-spacing: 0.6rem;
    transform: translateX(4px);
  }

  .arch-animated-pic {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 150px;
    height: 280px;
    display: block;
    border: 3px solid var(--white);
    border-radius: 75px 75px 0 0;

    .ArchOutline-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      top: 0;
      left: 0;
      transform-origin: bottom;
      transform: scale(0) translateY(50px);
    }

    .ArchOutline-wrapper.one {
      animation: arch 1.4s linear 0s infinite forwards;
    }
    .ArchOutline-wrapper.two {
      animation: arch 1.4s linear 0.2s infinite forwards;
    }
    .ArchOutline-wrapper.three {
      animation: arch 1.4s linear 0.4s infinite forwards;
    }
    .ArchOutline-wrapper.four {
      animation: arch 1.4s linear 0.6s infinite forwards;
    }
    .ArchOutline-wrapper.five {
      animation: arch 1.4s linear 0.8s infinite forwards;
    }
    .ArchOutline-wrapper.six {
      animation: arch 1.4s linear 1s infinite forwards;
    }
    .ArchOutline-wrapper.seven {
      animation: arch 1.4s linear 1.2s infinite forwards;
    }
  }
}

@keyframes arch {
  0% {
    transform: scale(0) translateY(60px);
  }
  100% {
    transform: scale(1.2) translateY(25px);
  }
}
