// Custom.scss

// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px,
  xxl: 1320px,
);
$grid-gutter-width: 24px;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/buttons";
// 8. Add additional custom code here

body {
  font-family: "mr-eaves-xl-sans" sans-serif;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-light-bg);
  transition: background-color 0.5s ease-in-out;
}

.bg-dark::after {
  content: "";
  box-sizing: content-box;
  position: fixed;
  top: -50%;
  left: 50%;
  width: 1800px;
  height: 1800px;
  border-radius: 100%;
  opacity: 0.5;
  background: radial-gradient(
    circle,
    rgba(91, 41, 140, 1) 0%,
    rgba(91, 41, 140, 0) 70%
  );
}

.bg-dark::before {
  content: "";
  box-sizing: content-box;
  position: fixed;
  bottom: -50%;
  right: 50%;
  width: 1800px;
  height: 1800px;
  border-radius: 100%;
  opacity: 0.4;
  background: radial-gradient(
    circle,
    rgba(29, 167, 224, 1) 0%,
    rgba(29, 167, 224, 0) 70%
  );
}

main {
  position: relative;
  padding: 2rem var(--main-container-padding);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  position: relative;
  height: 100vh;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-family: "mr-eaves-xl-sans", sans-serif;
}

h1 {
  font-size: 4.4rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  color: var(--black);
}

h2 {
  font-size: 3.8rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
}

span,
p,
li {
  font-family: "heebo", sans-serif;
  color: var(--black);
}

li {
  position: relative;
  list-style-type: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
}

.bg-dark {
  background-color: var(--black);
}

.bg-dark h1,
.bg-dark h2 {
  color: var(--white);
}

.bg-light {
  background-color: var(--body-light-bg) !important;
}

//Button styles
*button {
  font-family: "mr-eaves-xl-sans", sans-serif !important;
  border-radius: 0 !important;
  padding: 0.8rem 1.8rem !important;
  position: relative;
  z-index: 2;
  font-size: 1.4rem !important;
  display: flex !important;
  align-items: center !important;
  background-color: var(--primary) !important;
  border-color: transparent !important;
}

*button svg {
  margin-left: 0.4rem;
}

:root {
  --primary: #1da7e0;
  --black: #172429;
  --white: #eef1f2;
  --body-light-bg: #b4defe;
  --fixed-menu-rm: 8rem;
  --main-container-padding: 4rem;
}

@media (max-width: 720px) {
  :root {
    --fixed-menu-rm: 4rem;
    --main-container-padding: 2rem;
  }
}

@media (max-width: 540px) {
  :root {
    --fixed-menu-rm: 2rem;
    --main-container-padding: 1rem;
  }
}
